.colors {
  --primary-100: #0077c2;
  --primary-200: #59a5f5;
  --primary-300: #c8ffff;
  --accent-100: #00bfff;
  --accent-200: #00619a;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-300: #cccccc;
}
